body {margin:0;font-family:Arial}
.topnav {
  overflow: hidden;
  background-color:#3498DB;
  /* position: fixed; */
  width: 100%;
  top: 0;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

.active {
  background-color: #192A56;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  margin-left: 20px;
}

.dbdropdown {
  float: left;
  overflow: hidden;
}
.dbaccessbackup {
  float: left;
  overflow: hidden;
}

.others {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dbdropdown .dbdropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dbaccessbackup .dbaccessbackupbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.others .dbaccessothers {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #166285;
  min-width: 110px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

.dbdropdown-content {
  display: none;
  position: absolute;
  background-color: #166285;
  min-width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

.dbaccessbackupbtn-content {
  display: none;
  position: absolute;
  background-color: #166285;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}

.dbaccessothers-content {
  display: none;
  position: absolute;
  background-color: #166285;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1; */
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dbdropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dbaccessbackupbtn-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dbaccessothers-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dbdropdown
.dropbtn .dbdropbtn .image .dbaccessbackup 
.dbdbaccessbackupbtn .dbaccessbackupbtn-content .others 
.dbaccessothers .dbaccessothers-content
 {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dbdropdown-content a:hover {
  background-color: #ddd;
  color: black;
}
.dbaccessbackupbtn-content a:hover {
  background-color: #ddd;
  color: black;
}

.dbaccessothers-content a:hover {
  background-color: #ddd;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dbdropdown:hover .dbdropdown-content {
  display: block;
}

.dbaccessbackup:hover .dbaccessbackupbtn-content {
  display: block;
}

.others:hover .dbaccessothers-content {
  display: block;
}
.footer {
  display: block;
  margin-top: 0px;
}

.image{

    background-image: url("./images/download.jpg");
    min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 0px;
  
}
.footer {
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
  background-color:#2475B0;
  color: white;
  text-align: center;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn .dbdropdown .dbdropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon .image {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown .dbdropbtn.image{float: none;}
  .topnav.responsive .dropdown-content .dbdropdown-content.image{position: relative;}
  .topnav.responsive .dropdown .dropbtn .dbdropdown .dbdropbtn.image{
    display: block;
    width: 100%;
    text-align: left;
  }
}